img{
    float: left;
    width: 500px;
}
ul{
    list-style-type: none;
    text-align: center;
    font-size: 24px;
}
form{
    text-align: center;
}
body{
    background: lightseagreen;
    text-align: center;
    font-family: 'Silkscreen', cursive;
}
.bella{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;;
}